In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, RidgeCV, LassoCV

In [6]:
import csv
import os

In [193]:
import pandas as pd
#pd.read_csv (r'Path where the CSV file is stored\File name.csv')
movies = pd.read_csv("/Users/paxton615/Desktop/movies_metadata.csv", low_memory=False)
ratings = pd.read_csv("/Users/paxton615/Desktop/ratings (1).csv", low_memory=False)

In [194]:
movies_rev = movies[(movies['revenue'] != 0)]
movies_rev = movies_rev[(movies_rev['runtime'] != 0)]
movies_rev.drop(columns=['belongs_to_collection', 'tagline', 'adult', 
                         'imdb_id', 'overview', 'poster_path', 'homepage', 'production_countries', 'video'], inplace=True)
movies_rev = movies_rev[(movies_rev['runtime'].isnull()==False)]
movies_rev = movies_rev[(movies_rev['popularity'].isnull()==False)]
movies_rev = movies_rev[(movies_rev['release_date'].isnull()==False)]
movies_rev = movies_rev[(movies_rev['status'].isnull()==False)]
movies_rev.popularity = movies_rev.popularity.astype(float)
movies_rev = pd.get_dummies(movies_rev, columns = ['status'])
movies_rev.budget = movies_rev.budget.astype(float)

In [136]:
#movies.release_date.drop([45461],axis=0, inplace = True)

In [196]:
movies.release_date.shape

(45466,)

In [173]:
movies.release_date.dropna(inplace=True)

In [ ]:
#movies[df.Name != 'Alisa']

In [202]:
movies_rev.release_date.isnull().sum()

0

In [187]:
movies.release_date.drop(movies.index[45461], axis=0, inplace=True)

In [180]:
movies.release_date.shape

(45466,)

In [190]:
movies.shape

(45466, 25)

In [67]:
#movies.release_date.describe

In [58]:
import datetime as dt

#movies['release_date'] = movies['release_date'].apply(lambda x : pd.to_datetime(str(x)))

#movies['dates'] = movies['release_date'].dt.date

In [110]:
#movies.release_date[200].split('-')[0]

In [111]:
#movies.release_date[45461]

In [ ]:
2010-10-20

In [203]:
movies_rev["year"]= movies_rev.release_date.apply(lambda x: float((str(x).split("-"))[0]))
#movies["month"]=movies.release_date.apply(lambda x: float((str(x).split("-"))[1]))

In [204]:
movies_rev["month"]=movies_rev.release_date.apply(lambda x: float((str(x).split("-"))[1]))

In [177]:
#df['year'] = pd.DatetimeIndex(df['ArrivalDate']).year
#df['month'] = pd.DatetimeIndex(df['ArrivalDate']).month

In [153]:
#movies["year"]= movies.release_date.apply(lambda x: x.split("-")[0])

In [ ]:
#df['ArrivalDate'] = pandas.to_datetime(df['ArrivalDate'])
#df['Month'] = df['ArrivalDate'].values.astype('datetime64[M]')

In [205]:
movies_rev.head()

,budget,genres,id,original_language,original_title,popularity,production_companies,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,status_Post Production,status_Released,status_Rumored,year,month
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,0,1,0,1995.0,10.0
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,0,1,0,1995.0,12.0
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,0,1,0,1995.0,12.0
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,0,1,0,1995.0,2.0
5,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,en,Heat,17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Heat,7.7,1886.0,0,1,0,1995.0,12.0

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [47]:
movie.shape

(45466, 24)

In [49]:
ratings[ratings["movieId"]==862]

          userId  movieId  rating   timestamp
184624      1923      862     3.0   858335006
200490      2103      862     5.0   946044912
524001      5380      862     1.0   878941641
610887      6177      862     4.0   859415226
643892      6525      862     4.0   857388995
692440      7050      862     3.0   951328483
712546      7238      862     3.0   988054686
842326      8659      862     4.0   997143296
913951      9328      862     4.0  1037486302
949383      9682      862     4.0   949005840
1025383    10425      862     3.0   878083313
1101490    11214      862     3.5  1078418362
1343494    13839      862     4.0  1182659035
1480781    15235      862     5.0   860224118
1571386    16287      862     4.0   877197469
1656549    17210      862     4.0   975100124
1656917    17211      862     5.0   953170641
1668820    17325      862     5.0  1487586599
1682586    17489      862     4.0   962654115
1687199    17545      862     4.0  1024376279
1705656    17765      862     4.0   974939322
1755220    18274      862     4.5  1140040006
1761053    18303      862     3.5  1078731779
1793701    18595      862     5.0   978405016
1870241    19404      862     4.0  1000934787
1885467    19588      862     2.0   945550056
1941824    20159      862     3.0   940762346
2086216    21664      862     4.0   974790117
2206627    22904      862     1.0   863363649
2275470    23635      862     4.0  1061848918
...          ...      ...     ...         ...
23533015  244259      862     3.0   959481407
23662608  245643      862     5.0   940583818
23714112  246150      862     3.0   865426938
23751690  246584      862     4.0   947362531
23828254  247445      862     4.0   963992394
23935886  248538      862     4.0   946320538
24086871  250082      862     5.0   854398002
24209988  251432      862     5.0   943701890
24220112  251540      862     4.0   947372401
24282033  252193      862     3.0   913662972
24441443  253996      862     4.5  1368184094
24529493  254977      862     4.0  1050953718
24577141  255466      862     3.0   885753211
24586185  255537      862     5.0   854083893
24627453  255933      862     2.5  1249366274
24680051  256553      862     3.0   859202275
24766659  257473      862     4.0  1080349229
24968321  259650      862     4.0   908556000
25254298  262887      862     3.0   853689416
25315091  263586      862     3.0   891164944
25338551  263809      862     3.5  1461371364
25541777  265840      862     2.0   945065463
25583989  266243      862     4.0   974730526
25636974  266783      862     3.0  1145248526
25704139  267543      862     4.0   945299890
25788364  268336      862     4.0   955427492
25798428  268391      862     3.0   856529977
25814740  268568      862     2.0   943826734
25980015  270422      862     4.0   941664133
26001292  270654      862     4.0   976204090

[374 rows x 4 columns]

In [45]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [48]:
movies[movies["id"]== 862]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [17]:
movie.shape

(45466, 24)

In [21]:
movie.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [24]:
movie[movie["revenue"]==0]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16.0
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0.0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2.0
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,1995-11-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149.0
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,1995-07-19,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828.0
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,1995-12-29,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50.0
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,1995-10-06,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,1995-12-29,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30.0
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,1995-05-05,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10.0
50,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,117164,tt0109950,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,...,1994-11-22,0.0,93.0,[],Released,She's no angel of mercy.,Guardian Angel,False,6.3,3.0
52,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",...,1994-01-01,0.0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,NaN,Lamerica,False,7.7,11.0
53,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,26441,tt0112499,en,The Big Green,"In a depressed Texas town, British foreign exc...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0
54,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,97406,tt0113158,en,Georgia,"Sadie looks up to her older sister Georgia, a ...",...,1995-05-19,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The toughest act to follow was their dreams.,Georgia,False,6.1,15.0
55,False,NaN,0,[],NaN,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",...,1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Kids of the Round Table,False,3.0,1.0
57,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,11010,tt0110877,it,Il postino,Simple Italian postman learns to love poetry w...,...,1994-09-22,0.0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,The Postman,False,7.6,181.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
59,False,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,11359,tt0113419,en,The Indian in the Cupboard,A nine-year-old boy gets a plastic Indian and ...,...,1995-07-14,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Indian in the Cupboard,False,5.9,136.0
60,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,17182,tt0116260,en,Eye for an Eye,It's fire and brimstone time as grieving mothe...,...,1996-01-12,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,What do you do when justice fails?,Eye for an Eye,False,5.8,65.0
62,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,10607,tt0116126,en,Don't Be a Menace to South Central While Drink...,When Ashtray (Shawn Wayans) moves to South Cen...,...,1996-01-12,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Finally, the movie that proves that Justice is...",Don't Be a Menace to South Central While Drink...,False,6.2,192.0
63,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,19760,tt0118002,en,Two If by Sea,"Frank O'Brien, a petty thief, and his 7-year-l...",...,1996-01-12,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A new comedy about love, laughter, and larceny",Two If by Sea,False,4.5,14.0
64,False,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9536,tt0115683,en,Bio-Dome,Bud and Doyle are two losers who are doing not...,...,1996-01-12,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Bud and Doyle are here to save the world. But ...,Bio-Dome,False,4.4,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [50]:
movies_rev = movies[(movies['revenue'] != 0)]